
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - CS 338 DB Project App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">CS 338 DB Project App</a>
    </nav>
    <nav class="menu">
        <a href="/">Home</a>
        <a href="#" id="statsLink">Statistics</a>
        <a href="/">Feature 3</a>
        <a href="/">Feature 4</a>
        <a href="/">Feature 5</a>
        <a href="#" id="usersLink">Users</a>
    </nav>
    <div id="stats">
        <nav class="menu">
            <a href="{{ url_for('handle_stats_carriercode') }}">Carrier Code Distribution</a>
            <a href="{{ url_for('handle_stats_carrier_performance') }}">Carrier Performance</a>
            <a href="/">stats 3</a>
            <a href="/">stats 4</a>
            <a href="/">stats 5</a>
        </nav>
    </div>
    <div id="users">
        <nav class="menu">
            <a href="{{ url_for('handle_user_list') }}">User list</a>
            <a href="/">users 2</a>
            <a href="/">users 3</a>
            <a href="/">users 4</a>
            <a href="/">users 5</a>
        </nav>
    </div>
    <script src="/js/script.js"></script>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
