{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Flights {% endblock %}</h1>
    <div class='stats'>
        {% if flights|length >0 %}
        <table style="background-color:#CAF0F8; border-radius: 5px;"><tr><td>
            <table border="2" cellpadding="5" style="background-color:#CAF0F8; border-radius: 5px;">
                <caption><H2>Top 10 Delay Flights</H2></caption>
                <thead>
                    <tr><th>Month</th>
                        <th>Day</th>
                        <th colspan="2">Carrier</th>                        
                        <th>Flight</th>
                        <th>Destination (Arrival Airport Code)</th>
                        <th>Delay</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}<tr>
                    {% for i in range(7) %}<td>{{flight[i]}}</td>{% endfor %}
                    </tr>{% endfor %}
                </tbody>
            </table>
        </td></tr>
        </table>
        <br/>
        <br/>
        {% endif %}

        {% include 'performance.html' %}
        
        <table style="background-color:#CAF0F8; border-radius: 5px;"><tr><td>
            <form action="?" method="get">
            <table border="2" cellpadding="5" style="background-color:#CAF0F8; border-radius: 5px;">
                <thead>
                    <tr><th colspan="2">Search for flights</th></tr>
                </thead>
                <tbody>
                    {% include 'select_fromto.html' %}
                    <tr><td>carrier</td><td>
                        {% for carrier in carriers %}
                            <input type="checkbox" id="cid" name="c" value="{{carrier.id}}" {% if carrier.checked %} checked {% endif %} > {{carrier.id}} - {{carrier.name}} <br/>
                        {% endfor %}
                    </td></tr>
                    <tr><td colspan="2" style="text-align: center;"><input type="submit" name="action" value="Search"></td></tr>          
                    <tr><td colspan="2" style="text-align: center;"><input type="submit" name="action" value="Perfomance Tuning"></td></tr>
                </tbody>
            </table>
            
            </form>
        </td><td>
        </td>
        </tr></table>
    </div>
{% endblock %}




