{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Stats - Compare Carriers {% endblock %}</h1>
    <div class='stats'>
        {% if rows|length > 0 %}
        <table style="background-color:#FFFFE0;"><tr><td>
            <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                <tr>
                    <td rowspan="2">Carrier Code</td>
                    <td rowspan="2">On time</td>
                    <td colspan="3">Delay no more than</td>
                    <td rowspan="2">Delay more than an hour</td>
                </tr>
                <tr>
                    <td>10 minutes</td>
                    <td>30 minutes</td>
                    <td>an hour</td>
                </tr>

                {% for row in rows %}
                <tr>
                    <td>{{ row['carrier_code'] }}</td>
                    <td>{{ row['0'] }}</td>  
                    <td>{{ row['10'] }}</td>  
                    <td>{{ row['30'] }}</td>  
                    <td>{{ row['60'] }}</td>  
                    <td>{{ row['61'] }}</td>  
                </tr>
                {% endfor %}
            </table>
        </td><td>
            <img src="/png/stats_carrier_performance_compare.png" width="500" height="350" alt="Carrier performance compare">
        </td>
        </tr></table>
        <br/><br/>
        {% endif %}

        {% include 'performance.html' %}

        <table style="background-color:#FFFFE0;"><tr><td>
            <form action="?" method="get">
            <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                <thead>
                    <tr><th colspan="2">Search for flights</th></tr>
                </thead>
                <tbody>
                    <tr><td>carrier</td><td>
                        {% for carrier in carriers %}
                            <input type="checkbox" id="cid" name="c" value="{{carrier.id}}" {% if carrier.checked %} checked {% endif %} > {{carrier.id}} - {{carrier.name}} <br/>
                        {% endfor %}
                    </td></tr>
                    <tr><td colspan="2" style="text-align: center;"><input type="submit" name="action" value="Search"></td></tr>          
                    <tr><td colspan="2" style="text-align: center;"><input type="submit" name="action" value="Perfomance Tuning"></td></tr>
                </tbody>
            </table>
            
            </form>
        </td><td>
        </td>
        </tr></table>

    </div>
{% endblock %}
