{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Stats - Compare Carriers {% endblock %}</h1>
    <div class='stats'>
        <table style="background-color:#FFFFE0;"><tr><td>
            <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                <tr>
                    <td rowspan="2">Carrier Code</td>
                    <td rowspan="2">On time</td>
                    <td colspan="3">Delay no more than</td>
                    <td rowspan="2">Delay more than an hour</td>
                </tr>
                <tr>
                    <td>10 minutes</td>
                    <td>30 minutes</td>
                    <td>an hour</td>
                </tr>

                {% for row in rows %}
                <tr>
                    <td>{{ row['carrier_code'] }}</td>
                    <td>{{ row['0'] }}</td>  
                    <td>{{ row['10'] }}</td>  
                    <td>{{ row['30'] }}</td>  
                    <td>{{ row['60'] }}</td>  
                    <td>{{ row['61'] }}</td>  
                </tr>
                {% endfor %}
            </table>
        </td><td>
            <img src="/png/stats_carrier_performance_compare.png" width="500" height="350" alt="Carrier performance compare">
        </td>
        </tr></table>
    </div>
{% endblock %}
