{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Flight Schedule {% endblock %}</h1>
    <div class='stats'>
        {% if flights|length >0 %}
        <table style="background-color:#FFFFE0;"><tr><td>
            <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                <caption><H2>Flights to {{flights[0].city}}, {{flights[0].region}} </H2></caption>
                <thead>
                    <tr><th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Satusday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in range(1,8) %}
                        <td>
                            {% for f in flights %}
                                {% if f.wday == i %}
                                <a href="{{ url_for('handle_flights_schedule') }}?country={{f.cid}}&region={{f.region}}&city={{f.city}}&tn={{f.tn}}">{{f.tn}}</a><br/>
                                {% endif %}
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <br/>

            {% if gflights.num|length > 0 %}
            </td><td>
                <img src="/png/flights_schedule.png" width="400" height="400" alt="flighs schedule">
            {% endif%}
    
            {% if tflights|length >0 %}
            </td></tr><tr><td colspan="2">
            <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                <caption><H2>Detail information of {{tflights[0].tn}} </H2></caption>
                <thead>
                    <tr><th>Flight</th>
                        <th colspan="2">Destination airport</th>
                        <th>city</th>
                        <th>Month</th>
                        <th>day</th>
                        <th>day of week</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in tflights %}
                    <tr 
                        {% if f.city == flights[0].city %}
                        style="background-color:lightgreen"
                        {% endif %}
                        >
                        <td>{{ f.tn}}</td>
                        <td>{{ f.dst}}</td>
                        <td>{{ f.aname}}</td>
                        <td>{{ f.city}}</td>
                        <td>{{ f.month}}</td>
                        <td>{{ f.day}}</td>
                        <td>{{ f.wday}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br/>
            {% endif %}
            
        </td></tr>
        </table>
        <br/>
        <br/>
        {% endif %}
        
        <table style="background-color:#FFFFE0;"><tr><th colspan="3">Search for Flights
            </th></tr>
            <tr><td>

            <table cellpadding="5" style="background-color:#FFFFE0;"><tr><td>
                <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                    <thead>
                        <tr><th>Click the country for the flights</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>
                            {% for c in countries %}
                            <a href="{{ url_for('handle_flights_schedule') }}?country={{c.id}}">{{c.id}} : {{c.name}}</a><br/>
                            {% endfor %}
                        </td></tr>
                    </tbody>
                </table>
            </td>
            {% if states|length > 0 %}
            <td>
                <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                    <thead>
                        <tr><th>Click the region for the flights</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>
                            {% for s in states %}
                            <a href="{{ url_for('handle_flights_schedule') }}?country={{s.cid}}&region={{s.region}}">{{s.cid}} - {{s.sid}} : {{s.state}}</a><br/>
                            {% endfor %}
                        </td></tr>
                    </tbody>
                </table>
            </td>
            {% endif %}
            {% if cities|length > 0 %}
                <td>
                    <table border="2" cellpadding="5" style="background-color:#FFFFE0;">
                        <thead>
                            <tr><th>Click the city for the flights</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>
                                {% for s in cities %}
                                <a href="{{ url_for('handle_flights_schedule') }}?country={{s.cid}}&region={{s.region}}&city={{s.city}}">{{s.cid}} - {{s.sid}} : {{s.state}} : {{s.city}}</a><br/>
                                {% endfor %}
                            </td></tr>
                        </tbody>
                    </table>
                </td>
            {% endif %}
            </tr>
            </table>
        </td><td>
        </td>
        </tr></table>
    </div>
{% endblock %}
