{% if stats|length >0 %}
<table style="background-color:#CAF0F8; border-radius: 5px;"><tr><td>
    <table border="2" cellpadding="5" style="background-color:#CAF0F8; border-radius: 5px;">
        <caption><H2>Performance tuning</H2></caption>
        <thead>
            <tr><th></th><th>Total time (ms)</th>
                <th>Calls</th>
                <th>Mean time (ms)</th>                        
                <th>Min time (ms)</th>
                <th>Max time (ms)</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}<tr>
                {% for i in range(6) %}<td>{{stat[i]}}</td>{% endfor %}
            </tr>{% endfor %}
        </tbody>
    </table>
</td></tr>
</table>
<br/>
{% endif %}
